<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>65502876632-581qp0h08964qd4q7au7gr1kpg46lr5n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.65502876632-581qp0h08964qd4q7au7gr1kpg46lr5n</string>
	<key>API_KEY</key>
	<string>AIzaSyDzTCuESGx5txG9u0U8Q52qzz70X5pqkyU</string>
	<key>GCM_SENDER_ID</key>
	<string>65502876632</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Ramzich.appFireBase</string>
	<key>PROJECT_ID</key>
	<string>appfirebase-3c985</string>
	<key>STORAGE_BUCKET</key>
	<string>appfirebase-3c985.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:65502876632:ios:e7e5a7de875bf02426d8ad</string>
</dict>
</plist>